#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.Hombre{
  background-color: rgb(160, 216, 237);
  border: 4px  #306e51;
  &.mayor{
    border-style: solid;
  }
  &.menor{
    border-style: dotted;
  }
}

.Mujer{
  background-color: pink;
  border: 4px #6e305a;
  &.mayor{
    border-style: solid;
  }
  &.menor{
    border-style: dotted;
  }
}